.col-lg-3.col-md-4.col-sm-6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
h5.font-weight-light.font-weight-bold.text-muted {
  text-align: start;
  font-size: 15px;
  opacity: 0.8;
}
