.container-list {
  position: relative;
  margin: 0;
  padding: 18px 35px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
}

.container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list-img {
  align-self: flex-start;
  height: 230px;
}
.list-img img {
  width: 200px;
  height: 100%;
  padding-bottom: 5px;
}
.list-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
}
.list-name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: 15px;
}
.btn-close {
  position: absolute;
  top: -5px;
  right: 0;
  background: #fff;
  outline: none;
  box-shadow: none;
  border-color: #fff;
  color: #000;
  opacity: 0.7;
}
.btn-close:hover {
  transform: scale(1.1);
  background: #fff;
  outline: none;
  box-shadow: none;
  border-color: #fff;
  color: #000;
}
.btn-close:active,
.btn-close:focus {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: none !important;
}
.list-description {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-bottom: 10px;
}
.list-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list-price {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.9;
  margin: 0;
  pad: 0;
  align-self: center;
  display: flex;
  align-items: center;
}
.price {
  background: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  padding-left: 0;
  font-weight: 400;
  opacity: 0.7;
  margin: 5px 10px;
  align-self: flex-end;
}
@media only screen and (max-width: 990px) {
  .btn-save {
    position: relative;
    font-size: 15px;
  }
  .container-list {
    display: flex;
    flex-direction: column;
  }
  .list-img img {
    width: 100%;
    margin-top: 15px;
  }
  .list-title {
    position: relative;
    padding: 30px 25px 15px 25px !important;
  }
  .list-title h1 {
    font-size: 20px;
    width: 40%;
  }
  .list-title p {
    width: 60% !important;
    font-size: 13px !important;
    justify-self: flex-end;
    text-align: end;
  }
  .list-info {
    padding: 25px 0;
  }
  .btn-close {
    top: -255px;
    right: -10px;
  }
}
