.container {
  position: relative;
}
.carousel {
  margin-top: 100px;
}
.carousel-item {
  background: #333;
  height: 30rem;
  position: relative;
}
.carousel-caption {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-caption h1,
h4 {
  text-shadow: 0.5px 0.5px #4d4d4d;
  opacity: 0.9;
}
.carousel-caption button {
  border-radius: 0;
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 10px;
}
