body {
  background: radial-gradient(rgb(230, 229, 229), #fff, rgb(230, 229, 229));
}
.reminders {
  text-align: center;
  color: rgb(134, 134, 134);
}
.page-item.active .page-link {
  background-color: #09a0a0;
  border-color: #09a0a0;
}
