.signup,
.login {
  margin-top: 20px;
  justify-self: flex-end;
  width: 420px;
  position: relative;
  height: fit-content;
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 5px;
}
.form-group {
  position: relative;
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.signup-input {
  position: relative;
  width: 90% !important;
}
.account-page .fas {
  width: 40px;
  padding: 10.5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.fa-lock {
  padding: 10px !important;
}
.btn-submit {
  border-radius: 0;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  outline-color: none;
  background: linear-gradient(rgb(23, 129, 161), rgb(23, 140, 158));
}
.summary-footer .btn-proceed:hover {
  background: linear-gradient(rgb(23, 129, 161), rgb(23, 140, 158));
}
.hr {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  margin: 20px 0;
}
.hr p {
  padding: 0;
  margin: 0 10px;
  text-transform: uppercase;
}
.hr hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  width: 45%;
}
.alt-signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social {
  border-radius: 0;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.fab {
  color: #fff;
  margin-right: 10px;
  transform: scale(1) !important;
}
.terms {
  font-size: 13px;
  opacity: 0.8;
  letter-spacing: 1px;
  text-align: center;
}
.terms a {
  color: rgb(17, 160, 160);
  opacity: 0.9 !important;
}
.signup-footer,
.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-footer p,
.login-footer p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 13px;
  margin-right: 3px;
  opacity: 0.6;
}
.signup-footer a,
.login-footer a {
  color: rgb(17, 160, 160);
  font-weight: 400;
}
.modal-header {
  border-bottom: 1px solid #dee2e6 !important;
}
.modal-footer {
  border-top: 1px solid #dee2e6 !important;
}
.modal-content {
  width: 70%;
}
.modal .fab {
  color: blue;
  margin: 0;
  margin-left: 10px;
  transform: scale(1) !important;
}
.modal-dialog.modal-lg.modal-dialog-centered {
  justify-content: center;
  margin-top: 0px;
}
.react-credits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
}
@media only screen and (max-width: 425px) {
  .signup,
  .login {
    width: 100%;
    padding: 20px;
  }
  .social {
    font-size: 12px;
    padding: 5px;
    width: 130px;
  }
  .terms {
    font-size: 11px;
  }
  .btn-submit {
    font-size: 15px;
  }
  .hr {
    font-size: 10px;
  }
  .modal-content {
    width: 95% !important;
  }
}
